<div class="bg-white border-right p-3" id="sidebar">
    <h3 class="text-dark p-3">
      GifsApp
    </h3>
    <hr>

    <!-- History -->
    <div class="list-gruop list-reset">
      <h5>Historial</h5>
      <a 
        href="#" 
        class="bg-dark list-group-item list.group-item-action text-light border-white" 
        *ngFor="let item of historial"
        (click)="buscar(item)">
        {{ item | titlecase }} 
      </a>

    </div>
    <button type="button" class="btn btn-primary position-fixed bottom-0 mb-5" (click)="vaciarHistorial()" [disabled]="!(historial.length>0)">Vaciar historial</button>
  </div>